/* custom css elements */
:root {
    --primary: #f2f2f2;
    --secondary: #0D0D0D;
    --accent: #262626;
    --font-size: 1.3rem;
    --bold-font: 2.5rem;
    --serif: 'Fraunces', serif;
    --sans: 'Commissioner', sans-serif;
}

/* Working with the border-box model */
html { 
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    padding: 1rem;
    margin: 1rem;
    font-family: var(--sans);
    background-color: var(--primary);
    color: var(--secondary);
    font-size: var(--font-size);
}

h1 {
    margin: 0;
    font-family: var(--serif);
    font-size: 4rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

h2, h3 {
    margin: 0;
    font-family: var(--serif);
    font-size: 2.5rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* navbar */

nav {
    font-family: var(--sans);
    font-size: 80%;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

nav li:last-child {
    flex-basis: 100%;
    text-align: center;
}

nav a {
    color: var(--accent);
    text-decoration: none;
    display: block;
}

nav a:hover {
    text-decoration: underline;
}

.button {
    background-color: var(--accent);
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 20px;
    color: var(--primary);
}

.button:hover {
    background-color: var(--secondary);
}

@media (min-width: 700px) {
    nav {
        max-width: auto;
        margin: 0 auto;
    }
    nav li:last-child{
        flex-basis: auto;
        text-align: left;
        margin-left: auto;
    }
}

/* intro styles */

#intro {
    padding: 5rem 1rem 10rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#intro img {
    max-width: 80%;
    max-height: 80%;
}

#intro div {
    max-width: 700px;
}

#intro p {
    font-size: var(--font-size);
    line-height: 1.5;
}

@media (max-width: 850px) {
    #intro {
        flex-direction: column;
    }
    
    #intro img {
        width: 100%;
    }
}

/* Projects */
#projects {
    padding: 5rem 1rem 10rem 1rem;
}

#projects article img {
    height: 400px;
    width: auto;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;

}

#projects article div {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

#projects article {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
}

@media (max-width: 850px) {

    #projects article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #projects article img {
        width: 100%;
        height: 100%;
    }
    
}

/* about me */

#about {
    padding: 5rem 1rem 10rem 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3.5rem;
}

#about img {
    height: auto;
    width: 500px;
    border-radius: 50px;
}

#about h2 {
    padding-right: 2rem;
}

#about div {
    max-width: 500px;
    height: auto;
}

@media (max-width: 850px) {
    #about img {
        width: 100%;
    }
    #about {
        flex-direction: column;
    }
}

/* footer */

footer {
    font-family: var(--sans);
    padding: 1rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    font-size: 3rem;
}

footer a {
    color: var(--accent);
    text-decoration: none;
    display: block;
}

footer p {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}